<%= form_for @bookmark, layout: :basic, remote: true do |f| %>
  <%= f.text_field :vin, label: 'Enter the VIN of a vehicle to add to your saved list:',
    placeholder: '(e.g.: X0RHJBL60MHDXXWBQ)' %>
  <%= f.submit 'Add vehicle' %>
<% end %>

<hr />

<% if @vehicles.present? %>
<h3>You have <%= pluralize @vehicles.size, 'saved vehicle' %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-2" scope="col">VIN</th>
      <th class="col-md-1" scope="col">Year</th>
      <th class="col-md-3" scope="col">Make</th>
      <th class="col-md-3" scope="col">Model</th>
      <th class="col-md-3" scope="col">Efficiency</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.vin %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= format_efficiency(vehicle.efficiency) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
